@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(30, 54%, 90%);
    padding-top: 100px;
    line-height: 2;
    font-style: normal;
    
}

h1,h3{
    font-family: "Young Serif", serif;
}

h1{
    font-size: 42px;
}

h3{
    color: hsl(14, 45%, 36%);
}

p,li{
    font-family: "Outfit", sans-serif;
    /* color: hsl(30, 18%, 87%); */
}

p{
    font-size: 16px;
}

.recipe{
    background-color: hsl(0, 0%, 100%);
    padding: 35px;
    margin: auto;
    width: 50%;
    border-radius: 24px;
}

.recipe ul,ol{
    margin: 0;
}

img{
    width: 100%;
    border-radius: 16px;
}

.preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 15px;

}

.preparation-time li,h3{
    padding-left: 10px;
}

.preparation-time h3{
    color: hsl(332, 51%, 32%);
}

.flex{
    display: flex;
    gap: 20%;
    /* justify-content:space-around; */
    align-items:center;
}

.flex b{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
span{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

span:last-child{
    border: none;
}

.flex p,b{
    width: 30%;
    /* background-color: blue; */
}

ol li::marker{
    color: hsl(14, 45%, 36%);
}

li{
    padding-left: 10px;
}

.instructions-style,.preparation-time,.ingredients-style{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding-bottom: 30px;
}

@media screen and (max-width: 375px) {
    body{
        padding: 0px;
        margin: 0px;
    }
    .recipe{
        width: 100%;
        border-radius: 0px;
        margin: 0px;
        padding: 0px;
    }

    img{
        border-radius: 0px;
    }

    .preparation-time h3{
      font-size: 20px;
    }

    .instructions-style,.preparation-time, .nutritions-style,.ingredients-style,h1,.text-detail{
        padding: 15px;
        width: 80%;
        margin: auto;
    }

    h1{
        font-size: 36px;
        line-height: 1;
    }
    h3{
        font-size: 30px;
    }
}